<!DOCTYPE html>

  <form>
    <fieldset id="dialog-exchange">
       
       <div style="margin-left:5%;margin-top:10px">

            Decision:
            <select style="width:50%;margin-left:140px" id="InsertDecAfterDecConTar">
               <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                if(elementdepencys[key].type=="decision"&&elementdepencys[key].dependee==current_guard){
                   var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                  %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>
              
            </select>
        
        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>
      
            Inserted Decision:
            <select style="width:50%;margin-left:70px" id="InsertDecAfterDecConInserDec">
               <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                if(elementdepencys[key].type=="decision"){
                   var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                  %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>
              
            </select>

        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>
      
            Inserted Condition:
            <select style="width:50%;margin-left:60px" id="InsertDecAfterDecConInserCon">
               <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                if(elementdepencys[key].type=="condition"){
                   var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                  %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>
              
            </select>
       
         <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

          Main Branch Condition:
            <select style="width:50%;margin-left:32px" id="InsertDecAfterDecConMainCon">
                <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                    if(elementdepencys[key].type=="condition"){
                      var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                      %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>

            </select>

        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>

          Additional Branch Conditon:
            <select style="width:50%;margin-left:0px" id="InsertDecAfterDecConSBCon">
                <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                    if(elementdepencys[key].type=="condition"){
                      var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                      %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>

            </select>
       
       
      
            Inserted Activity:
            <select style="width:50%;margin-left:82px" id="InsertDecAfterDecConInserAct">
                <option value="-1">Chooce the element</option>
                
              <% for(key in elementdepencys){
                    if(elementdepencys[key].type=="activity"){
                      var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                      %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>
            </select>

    
      
            Target Decision:
            <select style="width:50%;margin-left:90px" id="InsertDecAfterDecConTarDec">
                <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                    if(elementdepencys[key].type=="decision"){
                      var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                      %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>
            </select>
        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>    
          Use Case:
          <select style="width:50%;margin-left:135px" id="InsertDecAfterDecConUseCase">
                <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                  if(elementdepencys[key].type=="UseCase"){
                     var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
              %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
            }%>

          </select>
       
      </div>
    </fieldset>
  </form>