<!DOCTYPE html>

  <form>
    <fieldset id="dialog-exchange">
       
       <div style="margin-left:5%;margin-top:10px">

            Inserted Activity:
            <select style="width:60%;margin-left:20px" id="InterPreTar">
               <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                if(elementdepencys[key].type=="activity"&&elementdepencys[key].dependee==current_guard&&elementdepencys[key].element.indexOf("_Start")==-1&&elementdepencys[key].element.indexOf("_End")==-1){
                   var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                  %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>
              
            </select>
        
        <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>
      
            Pre Activity:
            <select style="width:60%;margin-left:60px" id="InterPrePre">
                <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                    if(elementdepencys[key].type=="activity"&&elementdepencys[key].element.indexOf("_End")==-1){
                      var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;
                      %>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
              }%>

            </select>
       
           <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>
         
          Use Case:
          <select style="width:60%;margin-left:80px" id="InterPreUseCase">
                <option value="-1">Chooce the element</option>
              <% for(key in elementdepencys){
                  if(elementdepencys[key].type=="UseCase"){
                     var elementPath=elementdepencys[key].dependee+"."+elementdepencys[key].element;%>
                <option value="<%= elementPath%>"><%= elementdepencys[key].element%></option>
              <%}
            }%>

          </select>
       
      </div>
    </fieldset>
  </form>