<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= title %> - Tool</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
     <link rel='stylesheet' href='/stylesheets/david-bootstrap.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 0px;
      }

      #FM_left { 
          width: 450px; 
          float: left; 
          margin-left: -5px; 
          margin-top:-20px;
          padding: 5px; 
          background: white; 
            } 
      #FM_right { 
          padding: 5px; 
          margin-left: 450px; 
          margin-top:-20px;
          background: white; 
          } 

       #TM_left { 
          width: 270px; 
          float: left; 
          margin-left: -30px; 
          margin-top:-20px;
          padding: 5px; 
          background: white; 
            } 
      #TM_right { 
          padding: 5px; 
          margin-left: 230px; 
          margin-top:-20px;
          background: white; 
          }     

      #CM_left { 
          width: 350px; 
          float: left; 
          margin-left: -5px; 
          margin-top:-20px;
          padding: 5px; 
          background: white; 
            } 
      #CM_right { 
          padding: 5px; 
          margin-left: 360px; 
          margin-top:-20px;
          background: white; 
          }
 
    </style>
 <!--   <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/docs.css" rel="stylesheet">
    <link href="/javascripts/jquery-ui-1.10.3/themes/base/jquery-ui.css"  rel="stylesheet"/>
        <script src="/javascripts/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
        <script src="/javascripts/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
        
          
	<!--[if lt IE 9]>
	<script src="/javascripts/html5.js" type='text/javascript'></script>
	<![endif]-->
	<script>
/*
		function changePage(index)
		{  
			switch(index)
			{
				case 0:
				window.location.href="/featuremodel";
				break;
				case 1:
				window.location.href="/traceability";
				break;
				case 2:
				window.location.href="/configuration";
				break;
			}
		}
*/
    function showRoute()
    {
      document.write(window.location.href);
    }

    function encodeName(featurename){
      var name="";
      var names=new Array();
      names=featurename.split(" ");
      for(i=0;i<names.length;i++)
      { alert(names[i]);
        if(name!=""){
          name=name+"*";
        }
        name=name+names[i]
      }
      return name;
    }

    function decodeName(featurename){
      var name=featurename.replace("*"," ");
      return name;
    }

    $(function(){
        $("#tabs li").each(function(index){
          $(this).click(function(){
            $("#tabs li.active").removeClass("active");
            $(this).addClass("active");
            switch(index)
            {
              case 0:
              window.location.href="/F";
              break;
              case 1:
              window.location.href="/T";
              break;
              case 2:
              window.location.href="/C";
              break;
            }
          })
        })
    })
	</script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
      <!--   <a class="brand" href="/">ProjectName</a> -->
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <% if (!user) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
              <% } else { %>
				<li><a href='javascript:;'>Welcom,<%= user.name%></a></li>
                <li><a href="/logout">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if (error) { %>
        <div class="alert alert-error">
          <%= error %>
        </div>
      <% } %>
    

      <%- body %>
 <!--     <hhr />
      <footer>
        <p><center><a href="javascript:;">PKU SEI</a> 2013</center></p>
      </footer>  -->
    </div>
  </body>
  
</html>
