<!DOCTYPE html>
<div class="myBorderRadius">
    <div class="titles">
      Trace Rule
    </div>
    
    <div style="margin-top:8px">
      <ul class="nav nav-list" id="guardlist">
        <li class="nav-list-11"><a href="javascript:;" class="myInsidePlus" style="text-align:left;margin-bottom:0px;vertical-align:middle;font-size:120%" id="guardNameShow">Guard: <% guardlists.forEach(function(guard,index){if(guard._id==current_guard){%> <%=guard.guard%><%}})%><i class="icon-plus" style="float:right;margin-right:6px;display:none;margin-top:8px"></i><i class="icon-pencil guardList" style="float:right;margin-right:6px;display:none;margin-top:8px"></i></a></li>
      </ul>

    </div>
</div>


<div class="myBorderRadius" style="margin-top:15px">
    <div class="ostitles" style="line-height:18px">
      Operation Sequence
    </div>
    
    <div style="margin-top:8px">

      <div id="outer">
        <div class="box">
          

          <div class="accordion_wrapper sortable" rel="sections">

            <% tracelists.forEach(function(trace, index) {
                if(trace.theparent==current_guard){
                %>
                        <div id="<%= trace._id%>" class="section_accordion">
                          <div class="accordion">
                            <h4>
                              <%=trace.operation_name%>
                              <i class="icon-minus" style="float:right;margin-right:6px;display:none"></i><i class="icon-plus" style="float:right;margin-right:6px;display:none"></i>
                            </h4>
                          <%
                              elementlists.forEach(function(element,index){ %>
                                 
                                <%
                                  if(element._id==trace.element){
                              %>
                            <div id="accordion_<%= element._id%>_content">
                              <form class="form-horizontal">
                                <div class="control-group">
                                  <label class="control-label" for="inputEmail">Case ID:</label>
                                  <div class="controls">
                                    <input type="text" id="input" readonly="true" placeholder="<%=element._id%>" >
                                    <i class="icon-pencil" style="float:right;margin-right:0px;cursor:pointer"></i>
                                    <i class="icon-ok" style="float:right;margin-right:0px;cursor:pointer;display:none"></i>
                                  </div>
                                </div>
                                <div class="control-group">
                                  <label class="control-label" for="inputEmail">Case Name:</label>
                                  <div class="controls">
                                    <input type="text" id="input" readonly="true" placeholder="<%= element.name%>">
                                  </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Description:</label>
                                    <div class="controls">
                                      <input type="text" id="input" readonly="true" placeholder="<%=element.description%>" style="width:300px;">
                                    </div>
                                </div>
                              </form>
                            </div>
                          <%}})%>
                          </div>
                        </div>
              <%
              }}) 
            %>

            <div id="accordion_a" class="section_accordion">
              <div class="accordion">
                <h4>UC1<i class="icon-minus" style="float:right;margin-right:6px;display:none"></i><i class="icon-plus" style="float:right;margin-right:6px;display:none"></i>
                </h4>
                <div id="accordion_a_content">
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label" for="inputEmail">Case ID:</label>
                      <div class="controls">
                        <input type="text" id="input" readonly="true" placeholder="12132" >
                        <i class="icon-pencil" style="float:right;margin-right:0px;cursor:pointer"></i>
                        <i class="icon-ok" style="float:right;margin-right:0px;cursor:pointer;display:none"></i>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputEmail">Case Name:</label>
                      <div class="controls">
                        <input type="text" id="input" readonly="true" placeholder="Login">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="inputEmail">Description:</label>
                      <div class="controls">
                        <input type="text" id="input" readonly="true" placeholder="The description of use case" style="width:300px;">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div id="accordion_b" class="section_accordion">
              <div class="accordion">
                <h4>Activity A5<i class="icon-minus" style="float:right;margin-right:6px;display:none"></i><i class="icon-plus" style="float:right;margin-right:6px;display:none"></i>
                </h4>
                <div id="accordion_b_content">
                  Content
                </div>
              </div>
            </div>

            <div id="accordion_c" class="section_accordion">
              <div class="accordion">
                <h4>Condition C9<i class="icon-minus" style="float:right;margin-right:6px;display:none"></i><i class="icon-plus" style="float:right;margin-right:6px;display:none"></i>
                </h4>
                <div id="accordion_c_content">
                  Content
                </div>
              </div>
            </div>

            <div id="accordion_d" class="section_accordion">
              <div class="accordion">
                <h4>Insert A5 between A4 , A6 in UC1<i class="icon-minus" style="float:right;margin-right:6px;display:none"></i><i class="icon-plus" style="float:right;margin-right:6px;display:none"></i>
                </h4>
                <div id="accordion_d_content">
                  Content
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
   </div>
   